.form-group
  label(for="title") Title
  input#title.form-control(name="title", type="text", value=note.title)
.form-group
  label(for="desc") Description
  input#desc.form-control(name="desc", type="desc", value=note.desc)