.form-group
  label(for="name") Car Name
  input#title.form-control(name="name", type="text", value=car.name)
.form-group
  label(for="value") Car Value In Dollars
  input#desc.form-control(name="value", type="number", value=car.value)