body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#CC3366;
}

a {
  color: #00B7FF;
}
h1 { 
    
    font-size: 100px;
    font-weight: 400;
    color:#FFFF00;
    font-family: 'Times New Roman',Times, serif;
    font-style: oblique;

}

    h3 {

    
    font-size:30px;
    font-weight: 400;
    color:#FFFF00;
    font-family: 'Times New Roman',Times, serif;
    font-style: italic;

}